body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}
 section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
 }

button{
   background-color: red;
   color: white;
   border: none;
   border-radius: 5px;
   padding: 8px;
   margin-top: 2vh;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red;
    font-weight: 700;
    margin-top: 2vh;
    border-style: ridge;
    border-color: lightskyblue;
    padding: 0.25em 2em 0.25em 2em;
}
#counter{
    color: red;
    font-weight: 700;
    margin-bottom: 2vh;
    border-style: ridge;
    border-color: lightskyblue;
    padding: 0.25em 2em 0.25em 2em;
}
#imDone{
    border-radius: 30%;
}

#crazy{border-radius: 30%;}

#purpurina{border-radius: 50%;}