body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  
  fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 5vh;
    background-color: lightslategray;
    border-radius: 1px solid black;
    color: white;
  }
  